* {
    box-sizing: border-box;
}
:root {
    --aqua: #4297A0; 
    --rose: #E57F84;
    --navy: #2F5061; 
    --beige: #f4eae6; 
    --lightrose: #eca0a3; 
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body {
    font-family: Raleway, sans-serif; 
    margin: 2rem, auto; 
    width: 95%; 
}

.hero {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    background-color: var(--aqua);
    color: white; 
    border-radius: 10px; 
    margin: 0;
    margin-bottom: 1rem; 
    padding: 1rem;
    align-items: center;
}

.footer {
    display: flex; 
    flex-direction: row; 
    background-color: var(--aqua);
    color: white; 
    border-radius: 10px; 
    text-align: center;
    padding: 1rem; 
    margin: 0;
    align-items: center; 
    justify-content:space-between;
}

.footer a {
    color: white;
    text-decoration: none; 
}

.footer a:hover {
    background-color: var(--beige); 
    border: solid 1px;
    border-radius: 10px;
    padding: 5px; 
    border-color: var(--rose);
    color: var(--rose);   
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

 nav ul li a {
    cursor: pointer;
    padding: 0.5rem;
    flex: auto;
    text-align: center;
    color: white;
    text-decoration: none; 
 }

 nav ul li a:hover {
    background-color: var(--beige); 
    border: solid 1px;
    border-radius: 10px;
    border-color: var(--rose);
    color: var(--rose); 
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: var (--beige);
    font-family: inherit; 
    margin: 0; 
  }
  
  .dropdown:hover .dropbtn {
    background-color: var(--beige); 
    border: solid 1px;
    border-radius: 10px;
    border-color: var(--rose);
    color: var(--rose); 
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--beige); 
    border: solid 1px;
    border-radius: 10px;
    border-color: var(--rose);
    background-color: var(--beige); 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: var(--navy);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    color: var(--rose);
    background-color: var(--beige);
    border: 2px solid var(--rose);
    border-radius: 10px; 
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
    
 .mainpage {
    display:flex; 
    flex-flow: row wrap; 
    width: auto; 
    height: auto; 
    align-items: center; 
    justify-content: center;   
}
 
 .mainpage a {
     color: var(--aqua);
     text-decoration: none;
 }

 .mainpage a:hover {
    color: var(--rose); 
}

 .box {
     background-color: var(--beige);
     border: 2px solid var(--aqua);  
     border-radius: 10px; 
     width: 300px; 
     height: 300px; 
     box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.2);
     color: var(--navy);
     padding: 5rem; 
     margin: 5px; 
     font-size: .75rem; 
     position: relative; 
     text-align: center; 
     align-items: center;
 }

 .box img {
    width: 100%;
    height: 100%; 
    border-radius: 10px; 
    object-fit: cover; 
 }

 .project-container {
     width: 100%;
     height: auto; 
 }

 .project-header {
     color: var(--navy);
     font-size: 2rem; 
     display: flex; 
     align-items: center; 
     justify-content: center;
     margin: 20px; 
 }

 .projects {
     display:flex; 
     align-items: center;
     justify-content: center;
     flex-flow: wrap; 
 }

 .project-item {
     width: 300px; 
     height: 300px; 
     background: #fff;
     position: relative; 
     box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
     border-radius: 10px; 
     margin: 25px;    
     background-image: url(../images/writing.jpg);
     background-size: cover; 
     background-position: center;
 }

 /*WEB DESIGN PAGE ITEMS*/

 .a {
    background-image: url(../images/downing_signals_2_copy.jpeg);
    background-size: cover; 
    background-position: center;
 }

 .b {
    background-image: url(../images/tonya_sitephoto_copy.jpg);
    background-size: cover; 
    background-position: center;
 }

 .c {
    background-image: url(../images/fullspectrum_webphoto_copy.jpg);
    background-size: cover; 
    background-position: center;
 }

 .d {
    background-image: url(../images/seed_sitephoto_2_copy.jpeg);
    background-size: cover; 
    background-position: center;
 }

 /*WRITING PAGE ITEMS*/

 .e {
    background-image: url(../images/christmaslist_copy.jpg);
    background-size: cover; 
    background-position: center;
 }

 .f {
    background-image: url(../images/glamour_job_photo_copy.jpeg);
    background-size: cover; 
    background-position: center;
 }

 .g {
    background-image: url(../images/swim_team_copy.jpg);
    background-size: cover; 
    background-position: center;
 }

 .h {
    background-image: url(../images/vacation_copy.jpeg);
    background-size: cover; 
    background-position: center;
 }

 .i {
    background-image: url(../images/quit_photo_copy.jpg);
    background-size: cover; 
    background-position: center;
 }

 .j {
    background-image: url(../images/bank_copy.jpeg);
    background-size: cover; 
    background-position: center;
 }

 /*GRAPHIC DESIGN PAGE ITEMS*/

 .k {
    background-image: url(../images/sustainable_smalllogo_copy.jpg);
    background-size: cover; 
    background-position: center;
 }

 .l {
    background-image: url(../images/campojazz_logo\ copy.jpg);
    background-size: cover; 
    background-position: center;
 }

 .m {
    background-image: url(../images/tonyalogo_final_01_copy.jpg);
    background-size: cover; 
    background-position: center;
 }
 
 .n {
    background-image: url(../images/bananabread_small_copy.jpg);
    background-size: cover; 
    background-position: center;
 }

.text-container {
position: absolute; 
height: 75px; 
width: 100%; 
z-index: 2; 
left: 0; 
bottom: 0;
background-color: var(--beige); 
overflow: hidden; 
}

.text-container:hover {
    height: 250px; 
}

.text-container h3:hover {
    color: var(--rose);
}

.pub {
    display: flex; 
    justify-content: space-between;
    margin-left: 5px; 
    margin-right: 5px; 
  }

  hr {
    color: var(--navy); 
  }  

  .text-container a {
      text-decoration: none;
      color: var(--navy);
  }

.name {
    margin-top: 10px; 
    color: var(--navy);
    font-size: 1.5rem; 
}

.text-container h3 {
    color: var(--navy);
    margin: 10px; 
}

.content {
    padding: 10px 0;
    color: var(--navy);
    margin: 10px; 
}
 
.button {
    background-color: var(--beige); 
    border: solid 3px;
    border-color: var(--rose);
    border-radius: 10px; 
    color: var(--rose); 
    width: 100px; 
    padding: 10px;  
    margin-bottom: 50px; 
}

.button a {
    text-decoration: none;
    color: var(--rose);
}

.headshot {
    width: 300px; 
    height: 350px; 
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    margin: 20px;  
    float: left; 
}
.bio p {
    color: var(--navy);
}

.bio {
    display: flex; 
    justify-content: space-evenly;
}

/*Contact Form*/

.container {
    border: 4px solid var(--rose); 
    border-radius: 10px;
    background-color: var(--beige);
    color: var(--navy);
    padding: 15px;
    margin: 20px; 
  }

input[type=text],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: var(--rose);
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--lightrose);
  }

/* Responsive Nav Bar */
 @media all and (min-width: 600px) {
     .hero {
         flex-direction: row; 
     }
     .mainpage {
         flex-direction: row; 
     }
 }
 @media all and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        justify-content: space-evenly;
    }
    nav ul li {
        text-align: center;
    }
    .bio {
        flex-direction: column; 
    }
    .footer {
        flex-direction: column; 
    }
}
/*.portfolio {
     display: grid; 
     height: 100%; 
     grid-template-columns: repeat (3 1fr);
     grid-template-rows: repeat (2 1fr);
     grid-gap: 10px; 
 }

 .portfolio-item {
    justify-content: center;
    align-items: center;  
 }
 
 .portfolio-item img {
     height: 30vh; 
     width: 30vw; 
 }*/