* {
    box-sizing: border-box;
}
:root {
    --aqua: #4297A0; 
    --rose: #E57F84;
    --navy: #2F5061; 
    --beige: #f4eae6; 
}


body {
    font-family: Raleway, sans-serif; 
    margin: 2rem, auto; 
    width: 95%; 
}

.hero {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    background-color: var(--aqua);
    color: white; 
    margin: 0;
    margin-bottom: 1rem; 
    padding: 1rem;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

 nav ul li a {
    cursor: pointer;
    padding: 0.5rem;
    flex: auto;
    text-align: center;
    color: white;
    text-decoration: none; 
 }

 nav ul li a:hover {
    background-color: var(--beige); 
    border: solid 1px;
    border-color: var(--rose);
    color: var(--rose); 
}

 .mainpage {
     display: grid; 
     grid-template-columns: 1fr 1fr 1fr; 
     grid-template-rows: 1fr 1fr 1fr; 
     grid-auto-rows: minmax(125px, auto);
     grid-gap: .5rem;
 }

 .mainpage a {
     color: var(--aqua);
     text-decoration: none;
 }

 .mainpage a:hover {
    color: var(--rose); 
}

 .box {
     background-color: var(--beige);
     border: 1px solid var(--rose);  
     color: var(--aqua);
     padding: 5rem; 
     font-size: .75rem; 
     text-align: center; 
     align-items:center;
 }
 
/* Responsive Nav Bar */
 @media all and (min-width: 600px) {
     .hero {
         flex-direction: row; 
     }
 }
 @media all and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        justify-content: space-evenly;
    }
    nav ul li {
        text-align: center;
    }
    .mainpage {
        grid-template-columns: 1fr; 
    }
}